// using variables
$border: 1px solid black;

$bg: #088c74;
$bg-outer: #f2b441;
$bg-item: #fff;
$shadow: #8f321d;

// using placeholder classes
%flex {
    display: flex;
    justify-content: center;
}

%auto-margin-width {
    max-width: auto;
    margin: auto;
}

* {
    background-color: $bg;

    font-family: monospace;
    text-align: center;
    margin: 10px;
    font-size: large;
}

// using BEM
.section-center {
    @extend %flex;

    height: 85vh;
    flex-direction: column;
    align-content: center;

    .timer-container {
        @extend %auto-margin-width;

        border: $border;
        border-radius: 10px;
        box-shadow: 5px 5px $shadow;

        background-color: $bg-outer;
        padding: 50px;

        .endDate {
            background: $bg-outer;
        }

        .deadline {
            border: $border;
            @extend %auto-margin-width;
            @extend %flex;

            border-radius: 20px;
            background-color: $bg-item;

            text-align: center;
            flex-wrap: wrap;

            &__item {
                width: 100px;
                margin: 10px;
                background-color: $bg-item;

                h4 {
                    font-size: 25px;
                    background-color: $bg-item;
                }

                p {
                    font-size: 20px;
                    background-color: $bg-item;
                }
            }
        }
    }
}
