.section-center .deadline, .section-center {
  display: flex;
  justify-content: center;
}

* {
  font-family: monospace;
  text-align: center;
  margin: 10px;
  font-size: large;
}

.section-center {
  height: 85vh;
  flex-direction: column;
}
.section-center .deadline {
  text-align: center;
  flex-wrap: wrap;
}
.section-center .deadline__item {
  width: 100px;
  margin: 10px;
}
.section-center .deadline__item h4 {
  font-size: 25px;
}
.section-center .deadline__item p {
  font-size: 20px;
}
